/ACE_TAO
/OpenDDS
/MPC
/android-ndk-*
/*-toolchain
/jdk
/xerces_source
/iconv_source
/settings.sh
/openssl_source
/ACE_wrappers
/ACE+TAO-2.2a_with_latest_patches.tar.gz
/secdeps_prefix
/android-sdk
/commandlinetools-*
